.Showcase {
  @apply flex gap-3 p-1  overflow-x-auto cursor-grab scroll-smooth opacity-0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

}

.Showcase:last-child {
  @apply flex-row-reverse;
}

.Showcase.Visible:first-child {
  opacity: 1;
  animation: rightSlideIn 1s ease-in ;
}
.Showcase.Visible:last-child {
  opacity: 1;
  animation: leftSlideIn 1s ease-in -.25s;
}

.Showcase::-webkit-scrollbar {
  display: none;
}

.Item {
  @apply min-w-52 h-40 rounded-xl  opacity-90  shadow-sm flex items-end p-3 ;
}

@keyframes rightSlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes leftSlideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
