.Container {
  @apply grid grid-cols-1  gap-9;
  @apply max-w-[1230px] mx-auto p-6;
  @apply sm:grid-cols-4 lg:grid-rows-2 ;
}

.Container::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 90%;
  background-color: #ced3ed;
  box-shadow: inset 0 0 0 1000px rgba(147, 215, 235, 0.767);
  -webkit-filter: blur(5px);
  z-index: -10;
  filter: blur(122px);
}

