
.Slider {
    @apply  flex gap-2 ;
  }
  .SliderInner {
    @apply flex ;
  }
  
  .SliderItem {
    @apply inline-block ml-4 mr-4 font-extrabold text-2xl text-white p-6; /* Adjust width as needed */
  }


  .Slider:first-child > .SliderInner {
    animation: scroll 20s linear infinite;
  }
  .Slider .SliderInner {
    animation: scroll 20s linear -3s infinite reverse;
  }
  .Slider:last-child .SliderInner {
    animation: scroll 20s linear -1s infinite;
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  