.Container::-webkit-scrollbar {
   @apply p-8 bg-slate-400/30;
  }

  
.Container::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 90%;
  background-color: #ced3ed;
  box-shadow: inset 0 0 0 1000px rgba(182, 203, 209, 0.342);
  -webkit-filter: blur(5px);
  z-index: -10;
  filter: blur(122px);
}
